.sharing
  %a{href: "https://twitter.com/share?text=#{title}&url=#{url}&via=#{config[:twitter_username]}"}
    %span.fab.fa-twitter-square
  %a{href: "mailto:?subject=#{title}&body=#{url}"}
    %span.fas.fa-envelope-square
  %a{href: "https://www.facebook.com/sharer/sharer.php?u=#{url}"}
    %span.fab.fa-facebook-square
