- title = current_article.title
- url =  URI.join(config[:site_url], current_page.url)

= wrap_layout "layout" do

  - if current_resource.data.unsplash
    - unsplash = current_resource.data.unsplash
    %picture
      %img{src: unsplash.url, alt: unsplash.title }

  %article
    %h1
      = current_article.title
    %section.headline
      .info
        %span.date= current_article.date.strftime('%e %B %Y')
        %span.dash &#8212;
        %span.duration= reading_time_for current_article.body
      .sharing
        %i.fa-solid.fa-arrow-up-right-from-square.share{title: "Share This Article"}

    %section.text
      = yield

    - if current_article.tags
      %hr

      %section.tags
        - if current_article.data.series
          - series_name = current_article.data.series
          - series_title = data.series[series_name].title
        != tag_sentence_for(current_article.tags, series_name, series_title)

    :javascript
      share = function share() {
        if (!navigator.share) {
          return;
        }
        share_data = {
             url: window.location.href,
             title: "Sharing - #{current_article.title}",
             text: "I found this article at DWF's Journal and thought you might like it."
            };
        document.querySelector("i.share").addEventListener("click", function (e) { navigator.share(share_data); })
      }
      share();


