- title = current_article.title
- url =  URI.join(config[:site_url], current_page.url)

= wrap_layout "layout" do

  - if current_resource.data.unsplash
    - unsplash = current_resource.data.unsplash
    %picture
      %img{src: unsplash.url, alt: unsplash.title }

  %article
    %h1
      = current_article.title
    %section.header.with_sharing
      .info
        %span.date= current_article.date.strftime('%e %B %Y')
        %span.dash &#8212;
        %span.duration= reading_time_for current_article.body
      = component "sharing"

    %section.text
      = yield

    - if current_article.tags
      %hr

      %section.about.with_sharing
        .tags
          - if current_article.data.series
            - series_name = current_article.data.series
            - series_title = data.series[series_name].title
          != tag_sentence_for(current_article.tags, series_name, series_title)
        = component "sharing"