!!! 5
%html{lang: "en"}
  %head
    -# Meta tags + JSON+LD
    = component "meta"
    = component "stylesheets"
    -# in-browser syntax highlighting
    %link{rel: "stylesheet", href: "/stylesheets/prism-laserwave.css"}
    %script{src: "/js/prism.js"}
  %body
    - if development?
      = component "dev_ribbon"
    -# @spec CHROME-NAV-001 CHROME-NAV-002 CHROME-NAV-003
    %header.site-header
      .brand
        %a.brand-name{href: "/"}= config[:site_title]
        %span.tagline= config[:site_subtitle]
      %input#nav-toggle.nav-toggle{type: "checkbox"}
      %label.hamburger{for: "nav-toggle", "aria-label": "Toggle navigation"}
        %i.fa-solid.fa-bars
        %i.fa-solid.fa-xmark
      %nav.site-nav
        %ul
          %li
            %a{href: "/posts"} Posts
          %li
            %a{href: "/series"} Series
          %li
            %a{href: "/about_me"} About
    %main{class: wrapper_classes_for(current_page.data)}
      = yield
    -# @spec CHROME-UI-006 CHROME-UI-007 CHROME-UI-008 CHROME-UI-009
    %footer.site-footer
      .footer-brand
        %span= config[:site_title]
      .footer-social
        %a{href: "https://#{config[:threads_url]}"} Threads
        %a{href: "https://#{config[:mastodon_url]}"} Mastodon
        %a{href: "https://#{config[:bluesky_url]}"} Bluesky
        %a{href: "https://github.com/#{config[:github_username]}"} GitHub
        %a{href: "https://www.linkedin.com/in/#{config[:linkedin_username]}"} LinkedIn
      .footer-copy
        %span= "© #{Time.now.year} #{config[:site_author]}"
    = component "google_analytics"
  %script{src: "/js/share.js"}
  %script{src: "/js/nav.js"}
