!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= page_title
    %link{rel: "alternate", href: "/feed.xml", type: "application/atom+xml", title: "Atom Feed"}
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css2?family=Fira+Mono&family=Open+Sans:wght@400;700&family=Raleway:wght@600;800&display=swap"}
    %link{rel: "stylesheet", href: "https://cdn.jsdelivr.net/npm/holiday.css@0.11.2"}
    %script{src:"https://kit.fontawesome.com/e76ee0328c.js", crossorigin: "anonymous"}
    %link{rel: "stylesheet", href: "/stylesheets/v23.css"}
    %link{rel: "stylesheet", href: "/stylesheets/rouge-github-dark.css"}
    %script{type: "application/ld+json"}!= linking_data_for(locals, current_article, page_articles)
  %body
    %nav
      %ul
        %li
          %a{href: "/", class: current_page.data.hide_home} Home
        %li
          %span Posts
          %ul
            %li
              %a{href: "/series/the-cd-test"} The CD Test
            %li
              %a{href: "/series/obsidian"} How I Obsidian
            %li
              %a{href: "/posts"} All Posts
            %li
              %a{href: "/all_tags"} All Tags
        %li
          %a{href: "/about_me"} About Me

    %main{class: wrapper_classes_for(current_page.data)}
      = yield
    %footer.site
      %p.small= "© #{config[:site_author]} #{Time.now.year}"
    / Global site tag (gtag.js) - Google Analytics
    %script{async: '', src: "https://www.googletagmanager.com/gtag/js?id=#{config[:google_analytics]}"}
    %script
      window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date());
      gtag('config', '#{config[:google_analytics]}');
