!!! 5
%html{lang: "en"}
  %head
    = component "meta"

    // Styling for everything-but-the-resume

    // reset + defaults
    %link{rel: "stylesheet", href: "https://cdn.jsdelivr.net/npm/holiday.css@0.11.2"}

    // in-browser syntax highlighting
    %link{rel: "stylesheet", href: "/stylesheets/prism-laserwave.css"}
    %script{src: "/js/prism.js"}

    = component "stylesheets"
  %body
    - if development?
      = component "dev_ribbon"
    %nav.menu
      %ul
        %li
          %a{href: "/", class: current_page.data.hide_home} Home
        %li
          %span Posts
          %ul
            %li
              %a{href: "/series/the-cd-test"} The CD Test
            %li
              %a{href: "/series/obsidian"} How I Obsidian
            %li
              %a{href: "/posts"} All Posts
            %li
              %a{href: "/all_tags"} All Tags
        %li
          %a{href: "/about_me"} About Me
    %main{class: wrapper_classes_for(current_page.data)}
      = yield
    %footer.site
      %p.small= "© #{config[:site_author]} #{Time.now.year}"
    = component "google_analytics"