!!! 5
%html{lang: "en"}
  %head
    -# Meta tags + JSON+LD
    = component "meta"
    = component "stylesheets"
    -# in-browser syntax highlighting
    %link{rel: "stylesheet", href: "/stylesheets/prism-laserwave.css"}
    %script{src: "/js/prism.js"}
  %body
    - if development?
      = component "dev_ribbon"
    %nav.menu
      %ul
        %li
          %a{href: "/", class: current_page.data.hide_home} Home
        %li
          %span Posts
          %ul
            %li
              %a{href: "/series/the-cd-test"} The CD Test
            %li
              %a{href: "/series/obsidian"} How I Obsidian
            %li
              %a{href: "/series/interestings"} Interestings for Iterators
            %li
              %a{href: "/series/rails-docker-nas"} Synology on Rails
            %li
              %a{href: "/posts"} All Posts
            %li
              %a{href: "/all_tags"} All Tags
        -# %li
        -#   %a{href: "/notion"} Notion Templates
        %li
          %a{href: "/about_me"} About Me
    %main{class: wrapper_classes_for(current_page.data)}
      = yield
    %footer.site
      %p.small= "© #{Time.now.year} #{config[:site_author]}"
    = component "google_analytics"
  %script{src: "/js/share.js"}
