!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= page_title
    %link{rel: "alternate", href: "/feed.xml", type: "application/atom+xml", title: "Atom Feed"}
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css2?family=Oswald&family=Open+Sans"}
    %link{rel: "stylesheet", href: "#{url_for '/stylesheets/all.css'}"}
    %script{type: "application/ld+json"}
      = linking_data_for(locals, current_article, page_articles).to_json
  %body
    %nav{class: "home-nav #{current_page.data.hide_nav}"}
      %a{href: "/"}
        %span.arrow ←
        Home
    %section{:id => "wrapper", :class => (current_page.data.wrapper_class)}
      = yield
      %footer#footer
        %p.small
          ©
          = config[:site_author]
          = Time.now.year
    - if config[:google_analytics]
      / Global site tag (gtag.js) - Google Analytics
      %script{ async: '', src: "https://www.googletagmanager.com/gtag/js?id=#{config[:google_analytics]}"}
      %script
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '#{config[:google_analytics]}');
