-# Resume uses its own layout intentionally — no site nav, no footer, print-first chrome.
!!! 5
%html{lang: "en"}
  %head
    -# Meta tags + JSON+LD
    = component "meta"
    = component "stylesheets"
  %body{class: wrapper_classes_for(current_resource.data) }
    - if development?
      = component "dev_ribbon"
    %h1
      = config[:site_author]
    %ul.social
      %li.email
        %a{href: "mailto:#{config[:email]}"}
          %span.fa-solid.fa-envelope
          %span= config[:email]
      %li.gh
        %a{href: "https://github.com/#{config[:github_username]}"}
          %span.fa-brands.fa-github-alt
          %span= "github.com/#{config[:github_username]}"
      %li.web
        %a{href: config[:site_url]}
          %span.fa-solid.fa-pen-fancy
          %span= config[:site_url].sub("https://", "").chomp("/")
      %li.map
        %span.fa-solid.fa-map-marked-alt
        %span San Francisco Bay Area
      %li.linkedin
        %a{href: "https://www.linkedin.com/in/#{config[:linkedin_username]}"}
          %span.fa-brands.fa-linkedin-in
          %span= "linkedin.com/in/#{config[:linkedin_username]}"
      %li.resume-link.print-only
        - resume_link = "dwf.bigpencil.net#{current_resource.url}"
        %a{href: "https://#{resume_link}"}
          %span.fa-solid.fa-file-lines
          %span= resume_link
    = yield
    %hr
    %span.version
      - prefix = (current_resource.path =~ /full/) ? "f" : "s"
      = prefix + ".v#{updated_date("source#{current_resource.path}.html.md")}"
    = component "google_analytics"