!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= page_title
    %link{rel: "alternate", href: "/feed.xml", type: "application/atom+xml", title: "Atom Feed"}
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css2?family=Fira+Mono&family=Open+Sans:wght@400;700&family=Raleway:wght@600;800&display=swap"}
    %script{src:"https://kit.fontawesome.com/e76ee0328c.js", crossorigin: "anonymous"}
    %link{rel: "stylesheet", href: "#{url_for '/stylesheets/v23.css'}"}
    %script{type: "application/ld+json"}
      != linking_data_for(locals, current_article, page_articles)
  %body
    %main{class: wrapper_classes_for(current_page.data)}
      %h1
        = config[:site_author]
      %ul.social
        %li
          %a{href: "mailto:dwfrank@gmail.com"}
            %span.fa-solid.fa-envelope
            %span dwfrank@gmail.com
        %li
          %a{href: "https://linkedin.com/in/daviswfrank"}
            %span.fa-brands.fa-linkedin-in
            %span linkedin.com/in/daviswfrank
        %li
          %a{href: "https://github.com/infews"}
            %span.fa-brands.fa-github-alt
            %span github.com/infews
        %li
          %a{href: "https://dwf.bigpencil.net"}
            %span.fa-solid.fa-pen-fancy
            %span dwf.bigpencil.net
        %li.print-only
          %a{href: "https://dwf.bigpencil.net/daviswfrank_resume/"}
            %span.fa-solid.fa-file-lines
            %span Latest resume: https://dwf.bigpencil.net/daviswfrank_resume/
        %li
          %span.fa-solid.fa-map-marked-alt
          %span San Francisco Bay Area
      = yield
      %hr
      %span.version
        ="v#{`git log -n 1 --pretty=format:%cs -- source/daviswfrank_resume.html.md`}"

    / Global site tag (gtag.js) - Google Analytics
    %script{async: '', src: "https://www.googletagmanager.com/gtag/js?id=#{config[:google_analytics]}"}
    %script
      window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date());
      gtag('config', '#{config[:google_analytics]}');