!!! 5
%html{lang: "en"}
  %head
    -# Meta tags + JSON+LD
    = component "meta"
    = component "stylesheets"
  %body{class: wrapper_classes_for(current_resource.data) }
    - if development?
      = component "dev_ribbon"
    %h1
      = config[:site_author]
    %ul.social
      %li.email
        %a{href: "mailto:dwfrank@gmail.com"}
          %span.fa-solid.fa-envelope
          %span dwfrank@gmail.com
      %li.gh
        %a{href: "https://github.com/infews"}
          %span.fa-brands.fa-github-alt
          %span github.com/infews
      %li.web
        %a{href: "https://dwf.bigpencil.net"}
          %span.fa-solid.fa-pen-fancy
          %span dwf.bigpencil.net
      %li.map
        %span.fa-solid.fa-map-marked-alt
        %span San Francisco Bay Area
      %li.linkedin
        %a{href: "https://linkedin.com/in/daviswfrank"}
          %span.fa-brands.fa-linkedin-in
          %span linkedin.com/in/daviswfrank
      %li.resume.print-only
        %a{href: "https://dwf.bigpencil.net/resume/"}
          %span.fa-solid.fa-file-lines
          %span https://dwf.bigpencil.net/resume/
    = yield
    %hr
    %span.version
      - prefix = (current_resource.path =~ /full/) ? "full - " : "std - "
      = prefix + "v#{updated_date("source#{current_resource.path}.html.md")}"
    = component "google_analytics"