---
pageable: true
layout: layout
---

- series_data = data.series_names["#{series}"]
%h1= series_data["title"]
%span.tagline A Blog Series

%section.text
  = render :markdown, "articles/series/#{series}", {layout: false, object: {}}, {}

%ul.articles
  - page_articles.reverse.each do |article|
    %hr
    %li= component "article_teaser", article: article
