---
pageable: true
---

- series_articles = page_articles.reverse
- series_filename = series.downcase.gsub(" ", "_")

%h1
  Blog Series:
  %em= series

%hr
= component "series/#{series_filename}_intro.md"
= component "article_list", {articles: [series_articles.first]}
= component "series/#{series_filename}_continues.md"
.continues
  = component "article_list", {articles: series_articles[1..-1]}
= component "personal_footer", { title: "DWF's Journal: #{series}", url: URI.join(config[:site_url], current_page.url) }
