---
sitemap_priority: 1.0
hide_nav: hidden
wrapper_class: resume
---

%h1 Davis W. Frank

%ul.me-links
  %li
    %a{href: "mailto:dwfrank@gmail.com"}
      %span.fas.fa-envelope
      dwfrank@gmail.com
  %li
    %a{href: "https://www.linkedin.com/in/daviswfrank"}
      %span.fab.fa-linkedin-in
      www.linkedin.com/in/daviswfrank
  %li
    %a{href: "https://github.com/infews"}
      %span.fab.fa-github-alt
      github.com/infews
  %li
    %a{href: "/"}
      %span.fab.fa-html5
      dwf.bigpencil.net
  %li.noprint
    %a{href: "/daviswfrank_resume/"}
      %span.fas.fa-file-alt
      Latest version lives at https://dwf.bigpencil.net/daviswfrank_resume/
  %li
    %span.fas.fa-map-marked-alt
    San Francisco Bay Area

%p I am an experienced senior software engineering leader with a demonstrated history helping software teams shorten feedback loops, ship software, and stay happy. I have managed developers, designers, product managers, and people managers. I have built and re-staffed teams. I have owned critical business systems and started open source projects. I have presented to meetups, conferences, customers, and executives about Ruby, JavaScript, YAML, Web Applications, early history of PC game development, low-level processor optimization, Test-driven Development, and Agile Software Development Methodologies.

%h2 Management Skills

%dl
  %dt Mentoring
  %dd I can share my experience, both personal and professional, to coach others as they navigate challenges. I have used these skills to help Vice Presidents rewrite job descriptions, mentor managers to become directors, and help college students pitch themselves for summer internships.

  %dt Team Building
  %dd I have justified, built, inherited, and improved teams. I have moved code ownership from one team to another without missing a release.

  %dt People Management
  %dd After nearly twenty years of managing people - individuals and managers - I have found that the most important skill is providing empathetic feedback. I have built feedback systems and coached people to improve their feedback-giving and -receiving skills.

  %dt Leading Distributed Teams
  %dd It's great when a team is co-located. But as responsibilities scale, I have added, grown, and managed remote teams while keeping them working well together.

  %dt Stakeholder Management
  %dd I have built trust with internal customers and clients across industries. I have helped them manage budgets from five to seven figures. I have set their expectations and managed teams to meet them.

  %dt Facilitation
  %dd I can lead a discussion to break down a problem, iterate on solutions, and drive shared understanding. I have used these skills in group mentoring sessions, sales meetings, regular retrospectives, and project kickoffs.

  %dt Communication
  %dd I am a storyteller. I can give presentations to an audience of 300, a meetup of a couple of dozen, or even just one-on-one. Writing a blog post or a presentation is one of my favorite ways to solidify my understanding of a topic. It's even better when I can get a laugh.

%h2 Technology Skills

%dl
  %dt Test-driven Development
  %dd I write tests first so that design, implementation, refactoring, and bug fixing are faster and less expensive. I enjoy encouraging teams to do the same because it makes teams, business owners, and customers happy.

  %dt Pair Programming
  %dd I can code with another developer. It is fun, fast, and encourages information sharing. I also like coaching others to be better pairs. That helps teams get more productive and reduces product risk across the board.

  %dt Ruby
  %dd I picked up Ruby after a few years away from coding. Ruby is just so much fun to write and maintain. I've worked on several small Ruby projects and a few dozen Ruby on Rails applications, from version 1.2 up to Rails 6.

  %dt JavaScript
  %dd
    I was part of the movement to treat JavaScript as a first class language and apart from web browsers. This lead to co-authoring
    = succeed "," do
      = link_to "Jasmine", "https://jasmine.github.io"
    so that we could test drive our JS, consulting on applications for Palm's webOS, and working on several single-page web apps. I still like the idea of passing functions as parameters and can asynchronicity most of the time with keep up.

  %dt Web Application & SaaS Development
  %dd As both consultant, tech lead, and manager, I have developed dozens of applications, APIs, and other services for the web. Many of the projects were using Ruby on Rails, and thus JavaScript, HTML and CSS are very familiar. I have also managed web-dev teams using Java/Spring, Kotlin/Spring, and Node.js.

  %dt Cloud Infrastructure
  %dd
    I have deployed web applications to PaaS solutions from
    = succeed "," do
      = link_to "Engine Yard", "https://www.engineyard.com/"
    = succeed ", and" do
      = link_to "Cloud Foundry", "https://cloudfoundry.org"
    = succeed "." do
      = link_to "Heroku", "https://heroku.com"
    I have worked with Cloud Provider products and APIs from Amazon Web Services, Google Cloud Platform, and Microsoft Azure. I have also worked with Kubernetes and
    = succeed "." do
      = link_to "BOSH", "https://bosh.io/docs/"

  %dt Continuous Delivery & Iterative Development
  %dd
    I have coached and managed projects on how to build sustainable momentum using techniques from the
    = link_to "Continuous Delivery", "https://dwf.bigpencil.net/series/the-cd-test/"
    toolbox. In addition to the skills listed above, I have introduced Weekly Iteration Planning, Continuous Integration, and Retrospectives, among other techniques.

  %dt Continuous Integration & Release Engineering
  %dd
    I have set up CI systems for web and mobile projects using cloud services like
    = link_to "TravisCI", "https://www.travis-ci.com/"
    and
    = succeed "," do
      = link_to "CircleCI", "https://circleci.com/"
    and deployed self-managed systems like
    = link_to "Jenkins", "https://www.jenkins.io/"
    and
    = succeed "." do
      = link_to "Concourse", "https://concourse-ci.org/"
    I have used CI to implement Release Engineering tasks like packaging, product configuration, and scenario testing. CI is a team's best automated friend.

  %dt Bottleneck Analysis & Remediation
  %dd I love making code and teams run more smoothly. This can mean instrumenting an application to figure out why code is slow. It can mean working with teams to help find more effective solutions.

  %dt Mobile Development Constraints
  %dd I have run teams building for PalmOS, webOS, Android, and iOS. I have taught teams how to adjust their expectations for higher latency networks, limited data bandwidth, and different user interaction expectations.

  %dt Legacy Technology Skills
  %dd I spent my early career working with digital desktop video and graphics on Microsoft Windows. I wrote low-level assembly routines, C/C++ application and driver code, spelunked in graphics sub-systems, and helped make Windows a viable video and game platform.

%h2 Professional Experience Timeline


%h3.company
  %span.name [Fountain](https://fountain.com)
  %span From 2021 October

%p
  I have led parts of the Product Engineering organization, focusing on improving that team's Continuous Delivery chops. In mid 2022, I started leading the Platform team, focusing on Data Engineering, Release Engineering, while continuing to lead our CD efforts.
    
%h3.company
  %span.name Personal Sabbatical &amp; Product Advising
  %span 2020 January - 2021 October

%p
  I recharged while writing about my career experience (see link to blog, above), optimizing our home meal planning, and improving our household operations to accommodate working and schooling from home. I helped a few companies in my network. I have aided architecture, design, and development for
  = link_to "Curious Duck", "https://curiousduck.io"
  and advised about web content application development for
  = succeed "." do
    = link_to "Bigger Bolder Baking", "https://biggerbolderbaking.com"

%h3.company
  %span.name Pivotal - PKS
  %span 2018 October - 2020 January

%p
  PKS (now known as
  = succeed ")" do
    = link_to "TKGI", "https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/"
  is a jointly-developed Kubernetes distribution from Pivotal & VMware that was a service for Pivotal Cloud Foundry (now known as
  = succeed ")." do
    = link_to "Tanzu Application Service", "https://tanzu.vmware.com/application-service"
  Pivotal was acquired by VMware in late 2019.

%h4 Senior Engineering Manager, Engineering Lead

%p
  I was the Engineering Lead on the PKS Release Engineering team. I defined, prioritized, and accepted the work for this team of 10 developers from Pivotal and VMware. We optimized the configuration, build, and CI runs for hundreds of pipelines, doubling the number of concurrently supported releases from 2 to 4 while reducing the elapsed-time-per-change of hundreds of pipelines by 75% - from 4 days to 1.

%p
  As a member of the leadership team &mdash; three managers reporting to our VP of Engineering &mdash; we restaffed the Pivotal team from Ireland to Palo Alto, dealt with regular joint-venture management style clashes, and managed our freshly-hired staff through the ambiguity of acquisition. I continued to run the summer intern roundtable, incorporating the Palo Alto interns from the PKS and
  = link_to "Greenplum", "https://tanzu.vmware.com/greenplum"
  teams.

%p.learned
  Learned how to navigate conflicting management styles to a common goal, how to manage an entire team transition across 8 time zones, how to DRY up hundreds of YAML files with shared components.

%h3.company
  %span.name Pivotal - Cloud Foundry
  %span 2018 April - 2018 October

%p
  Pivotal was the primary sponsor of the
  = link_to "Cloud Foundry", "https://cloudfoundry.org"
  project, a multi-cloud Platform-as-a-Service (PaaS) for deployment of web apps and services. Pivotal sold its own version of CF, now known as
  = succeed "." do
    = link_to "Tanzu Application Service", "https://tanzu.vmware.com/application-service"

%h4 Senior Engineering Manager

%p
  I was an engineer on the Open Source CF Cloud API team and managed 4 engineers on other teams. I facilitated working sessions to improve managers' skills across the San Francisco office. I rebuilt the summer intern experience, starting a weekly "intern roundtable," where Pivotal leaders from around the company came for an AMA-style chat with our developer, product manager, and designer interns.

%p.learned
  Learned how to mentor a staff of new engineering managers, how to build a better intern experience, and how to refresh my Ruby on Rails skills.

%h3.company
  %span.name Pivotal - IT
  %span 2015 March - 2018 March

%h4 Director of Engineering

%p
  I created this team out of a need to improve the development &amp; maintainence of our business-critical, internal software projects. I grew this team from nothing to 16 developers, product managers, and designers across two sites - San Francisco and Toronto. I drove budgeting and prioritization exercises with executive staff for our work. I also coached other IT teams regarding Pivotal's agile practices.

%p.learned
  Learned how to make a business case for a team, staff that team from nothing, how to manage across multiple sites, how internal back office customers are not quite like end consumers, and how to present to exec staff.

%h3.company
  %span.name Pivotal Labs
  %span 2008 April - 2015 March

%h4.multi-role
  %span.name Associate Director
  %span 2013 February - 2015 March

%p
  I managed a staff of 40 developers and 5 managers, about one-third of the the San Francisco consulting practice. I scoped projects, wrote proposals, and managed the business relationship for clients. I scheduled “beach” time for 8 Pivotal Labs open source projects across multiple offices. I continued to present at conferences, meetups, and clients about Pivotal, Extreme Programming, and testing JavaScript.

%h4.multi-role
  %span.name Engineering Manager
  %span 2010 February - 2013 February

%p
  I was a member of the first manager cohort when Pivotal grew to need managers. I managed ten individual developers. I continued to lead consulting projects for clients. I also presented at conferences, meetups, and clients about Pivotal, Extreme Programming, and testing JavaScript.

%h4.multi-role
  %span.name Software Engineer
  %span 2008 April - 2010 February

%p
  I was a engineer on dozens of consulting projects, all Ruby on Rails or JavaScript web-mobile applications. Co-authored Jasmine, a BDD framework for JavaScript testing.

%p.learned
  Learned how to be a software consultant, how to practice agile software development every day, and how to build feedback-oriented management skills across an organization.

%h3.company
  %span.name Real Girls Media
  %span 2007 February - 2008 April

%h4 Senior Software Engineer

%p
  I led the development team for <i>Divine Caroline</i>, a web-only women’s interest magazine. It was implemented as a Rails app with custom content management features. As a startup, they intended to sell the platform for online magazines. The writing and editing staff was our real-world, yet internal customers.

%p.learned
  Learned that every startup is different, that sometimes indirect management of people is more impactful than direct, and that surrounding yourself with people in diverse roles makes for a much more fulfilling day.

%h3.company
  %span.name Personal Sabbatical
  %span 2006 June - 2007 February

%p.learned Taught myself Ruby, Ruby on Rails, and SQL in order to keep sharp. Also learned that I liked both object oriented programming and web development.

%h3.company
  %span.name Handspring/Palm
  %span 2001 November - 2006 June

%h4 Engineering Manager, Customization and In-box

%p
  I designed and managed implementation of software that updated the OS and applied carrier customization for every Treo phone at the end of the manufacturing line. This reduced the elapsed time to manufacture a phone from hours to minutes. I managed the implementation of the installation development for every Treo in-box CD.

%h4 Engineering Program Manager, Messaging & Photos

%p
  I led prioritization and implementation for the Messaging and Photos applications for Treo 600 and Treo 650. I managed remote partners for libraries for these apps.

%h4 Engineering Manager, Software Tools

%p
  I managed the team of 5 developers that produced daily builds of new internal SDKs for application developers. I inherited, re-prioritized work, and shipped a new bug database web app, based on
  = succeed "," do
    = link_to "Bugzilla", "https://bugzilla.org"
  for internal use.

%p.learned
  Learned how to start managing software engineers, how to inherit a team and improve its throughput, how to think about user outcomes first before jumping to solutions, and how to manage through layoffs and acquisitions. Also had my first exposure to web development and Extreme Programming, separately.

%h3.company
  %span.name Intel
  %span 1999 February - 2001 November

%h4 Senior Software Engineer

%p
  I was the architect for image processing, signal processing, and JPEG compression libraries. They were hand-tuned, per-processor assembly code for high performance. I managed the remote development team in Sarov, Russia, who were were employed as part of the Clinton/Yeltsin
  = succeed "." do
    = link_to "Nuclear Cities Initiative", "https://en.wikipedia.org/wiki/Nuclear_Cities_Initiative"


%p.learned Learned how to release software via the web, how to manage a remote team in another timezone, and how to appreciate Russian caviar.

%h3.company
  %span.name Netstudio
  %span 1997 May - 1998 December

%h4 Software Engineer

%p
  I was one of the original team, developing an object oriented web graphics editor for Microsoft Windows. I designed and developed several of the image filters and large chunks of style application code.

%p.learned
  Learned about startup craziness, the benefits of applying a good software development process, and how to present at a sales conference.

%h3.company
  %span{class: "name"}= link_to "Brøderbund", "https://en.wikipedia.org/wiki/Broderbund"
  %span 1995 December - 1997 May

%h4 Software Engineer, Systems

%p
  I maintained and enhanced a custom animation codec used in several games. I combined the separate Win16 and Win32 codebases in order to halve the time it took to fix a bug. I added this codec to games like
  = succeed "." do
    = link_to "Where in the World is Carmen Sandiego?", "https://en.wikipedia.org/wiki/Carmen_Sandiego"
  I wrote MMX assembly routines for games like
  = succeed "." do
    = link_to "<em>Riven: The Sequel to Myst</em>", "https://store.steampowered.com/app/63610/Riven_The_Sequel_to_MYST/" 

%p.learned Learned how to code for real-world consumer application deadline, how to simplify legacy code, how to work with Customer Support regarding high-cost bugs, and how to use personal contacts to establish a new business relationship. I never learned where in the world Carmen Sandiego was.

%h3.company
  %span.name Intel
  %span 1992 July - 1995 December

%h4 Software Engineer

%p
  I was a developer on the DCI project, which proved that direct-to-frame-buffer and accelerated graphics was viable on Windows. This technology was shipped with Windows 95. It led to three patents and became the inspiration and basis for DirectX 1.0 and the XBox.

%p.learned
  Learned how to write production code in the real world, how to build an SDK to teach developers to use your API, and how to travel internationally on 4 hours notice.

%h2 Education

%h3
  %a{href: "https://uga.edu"} University of Georgia

%p B.S., Computer Science, July 1992

%h3
  %a{href:"https://www.harrisonmetal.com/"} Harrison Metal

%p
  %a{href:"https://www.harrisonmetal.com/classes/foundations-general-management"} General Management
  class and electives, since fall 2017

%h2 Projects & Activities

%ul
  %li
    Mentoring Computer Science students via the
    %a{href: "https://mentor.uga.edu/"} University of Georgia undergraduate mentoring program
  %li
    Co-author of
    %a{href: "https://jasmine.github.io/"} Jasmine
    a BDD testing framework for Javascript
  %li
    Author of
    %a{href: "https://github.com/infews/keydown"} Keydown
    a Markdown to HTML presentation builder (archived)
  %li
    Author of
    %a{href: "https://github.com/infews/anchorman"} Anchorman
    a release notes generator from Git commit logs (archived)
  %li
    Content reviewer for O’Reilly books on JavaScript Testing and Jasmine; one of them was eventually published:
    %a{href:"http://shop.oreilly.com/product/0636920028277.do"} JavaScript Testing with Jasmine
  %li
    Presented at RailsConf 2009 on my personal journey in Extreme Programming:
    %a{href:"https://web.archive.org/web/20120531175448/http://en.oreilly.com/rails2009/public/schedule/detail/7035"} I Rock, I Suck, I Am
  %li
    Co-inventor of three US patents related to software video acceleration; all held by Intel Corporation
    %ul
      %li
        Method and apparatus for displaying an image using direct memory access
        %a{href:"https://patents.google.com/patent/US5751270A/"} US 5,751,270
      %li
        Method and apparatus for displaying an image using subsystem interrogation
        %a{href:"https://patents.google.com/patent/US5572232A/"} US 5,572,232
      %li
        Method and apparatus for displaying an image in a windowed environment
        %a{href:"https://patents.google.com/patent/US5546103A/"} US 5,546,103
%br
%span.version
  v2021.02
