---
sitemap_priority: 1.0
hide_home: hidden
wrapper_class: home
layout: layout
---

%header
  %h1= config[:site_title]
  %span.tagline= config[:site_subtitle]

%section.intro
  .text
    :markdown
      Hello, there! I'm Davis.

      You may know me from my time at Pivotal and Pivotal Labs, where I helped our clients build Ruby on Rails or mobile JavaScript apps. Or maybe from co-writing [Jasmine](https://jasmine.github.io), a JavaScript testing framework.  Or maybe you saw me speak at RailsConf. Or GoGaRuCo. Or some local meetup.

      It's good to see you again!
  %img.avatar{src: url_for('/images/dwf.png'), srcset: "#{url_for '/images/dwf@2x.png'} 2x", alt:"Davis's Profile Photo"}

%ul.cards
  %li.card
    %h2 Latest
    = component "article_teaser", {article: blog.articles.first}
    .more
      %a{href:"/posts"}
        See All
        %i.fa-solid.fa-chevron-right
  %li.card
    %h2 The CD Test
    %p.series A series about validating your software development team and get better at Continuous Delivery.
    .more
      %a{href:"/series/the-cd-test"}
        Read More
        %i.fa-solid.fa-chevron-right
  %li.card
    %h2 Obsidian Tips
    %p.series
      All the tips, configuration, and even a few tricks for using
      = link_to("Obsidian", "https://obsidian.md")
      for your note taking.
    .more
      %a{href:"/series/obsidian"}
        Read More
        %i.fa-solid.fa-chevron-right
